<div class="link-show-page">
  <div class="page-header">
    <h1><a href="<%= @link.url %>"><%= @link.title %></a><br> <small>Submitted by <%= @link.user.name %></small></h1>
  </div>

  <div class="btn-group">
    <%= link_to 'Visit URL', @link.url, class: "medium-button" %>
  </div>

  <div class="btn-group pull-right">
    <%= link_to like_link_path(@link), method: :put, class: "medium-button button-vote" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Upvote
      <%= @link.get_upvotes.size %>
    <% end %>
    <%= link_to dislike_link_path(@link), method: :put, class: "medium-button button-vote" do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
      Downvote
      <%= @link.get_downvotes.size %>
    <% end %>
  </div>

  <% if @link.user == current_user -%>
    <div class="btn-group">
      <%= link_to 'Edit', edit_link_path(@link), class: "small-button" %>
      <%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "small-button" %>
    </div>
  <% end %>

  <h2 class="comments_title">
    <%= @link.comments.count %> Comments
  </h2>

  <div id="comments">
    <%= render :partial => @link.comments %>
  </div>
  <%= simple_form_for [@link, Comment.new]  do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <br>
    <%= f.submit "Add Comment", class: "medium-button" %>
  <% end %>
</div>

